body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
    box-sizing: border-box;
    min-height: auto;
    max-width:100%;
    column-width: 10%;
    margin: auto;
    text-align: center;
    overflow-x: hidden;  
  text-align: center;
  display:grid;
  
  
  }

  ul {
    position: relative;
    width: 100vw;
    max-width:100%;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    background-color: #ffffff;
    text-decoration: none;
  }

  .navigation{    
    width: 100%;  
    margin-left: auto;
    margin-right: auto;    
    display: block;
    
    
   }
   li{
    display: inline;
    margin-left:20px;
    margin-right: 20px;
    text-decoration: none;
   }


   /* Dropdown Button */
.dropbtn {
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #fefefe;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #ffffff;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(255, 255, 255);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.navigation{
  width: 60vw;
  height: auto;
}

#H2r{    
  height: auto;
  margin-top: 40px; 
  width: 60vw;    
}

.hero-image {    
  display: inline-flex;
}

.hero-home {    
  position:relative;  
  left: 30%;
  margin-right: auto;
  margin-left: auto;
  transform: translate(-50%, -50%);
  display: block;    
}

.hero-home1{
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}

.CN {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  box-shadow: 0px 5px 25px 0px #005878;
}

.topbikes{
  box-shadow: 0px 5px 25px 0px #005878;
height: auto;
width: 50vw;
margin-top: 50px;
margin-left: auto;
  margin-right: auto;
}



.MuiPaper-root{
  width: 20%;

}



#header{
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.container{
  position: relative;
}

.card{
  width: 800px;
}







